{% extends 'header.html' %}
{% block content %}
{% load static %}
<div class="content-body">
    <div class="container">
        {% for i in module %}
        <div class="page-title">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-6">
                    <div class="page-title-content">
                        <h3>Inscription au {{i.module}}</h3>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="breadcrumbs"><a href="#">Home </a><span><i class="ri-arrow-right-s-line"></i></span><a
                            href="#">S'inscrire</a></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row d-flex justify-content-center align-items-center py-20">
                            <div class="col-xl-8">
                                <form class="form-valid" action="/createinscription/{{i.IdModule}}" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group row mb-20"><label class="form-label col-lg-3">Course
                                        Niveau</label>
                                    <div class="col-lg-9"><select name="niveau" id="courseCategory"
                                            class="form-control col-lg-9">
                                            <option value>Selectionner le niveau</option>
                                            <option value="Elementaire">Elementaire</option>
                                            <option value="Moyen">Moyen</option>
                                            <option value="Avance">Avance</option>
                                        </select></div>
                                </div>
                                <div class="row mt-16">
                                    <div class="col-lg-3"></div>
                                    <div class="col-lg-9"><button class="me-10 btn btn-primary" type="submit">S'inscrire</button>
                                        <a href="{% url 'learning:course' %}" class="btn btn-danger">Annuler</a>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}